/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #FFFFFF;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: #FFFFFF;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
}

tr, td, th {
  vertical-align: middle;
  border: none;
}

// .table table {
//   border: 0;
//   border-spacing: 0;
//   border-collapse: collapse;
// }